* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #BBE2EC;
}

ul, li {
    list-style: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.page-header {
    background-color: #1B3C73;
    color: white;
    padding: 15px 25px;
    margin-bottom: 50px;
    font-family: "Dosis", sans-serif;
}

.done {
    text-decoration: line-through;
}

.delete-icon {
    background-color: #D04848;
    color: white;
    padding: 4px 7px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
}

.add-activity {
    background-color: white;
    width: 300px;
    line-height: 25px;
    margin-top: 25px;
    border: none;
    border-radius: 5px;
}

.activityplus {
    background-color: #1B3C73;
    color: white;
    padding: 4px 7px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
}

::placeholder {
    color: #a4a09a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 10px;
}